.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #08192D;
    padding: 15px 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 0px 3px 14px #00285D;;
 
   
}

.header-section:hover{
    box-shadow: 0 0 14px 0 rgba(0, 66, 154, 1);
}

.profile{
    display: flex
    ;
        align-items: center;
        gap: 5px;
    
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.header-actions {
    display: flex;
    align-items: center;
}

.refresh-text {
    margin-right: 10px;
    font-size: 14px;
    opacity: 0.8;
}

.refresh-btn {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.date-box {
    background: #00193b;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
    border:  1px solid #354585;
    
}

.refresh-btn i{
    color: #4f89fc;
}